<style>
    footer {
        background-color: #373a47;
        color: white;
    }

    footer .p-3 {
        background-color: rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 768px) {
        footer .p-3 {
            font-size: 14px;
        }
    }
</style>

<footer class="text-center text-lg-start">
    <div class="text-center p-3">
        <i class="far fa-copyright"></i> 2024 Aura Candle Studio. All rights reserved.
    </div>
</footer>

<!-- Footer -->