<style>
  .alert {
    width: 100%;
    margin: 0;
  }
</style>




<% if( alertMessage.length>0) {%>

  <div class="alert alert-info" role="alert" id="alert">
    <h6>
      <%= alertMessage%>
    </h6>
  </div>

  <% } %>

    <script>
      const alertDuration = 5000
      setTimeout(() => {
        document.getElementById('alert').style.display = 'none'
      }, alertDuration);

    </script>