<style>
  .order-confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  h1 {
    margin-top: 25px;
    font-family: sans-serif;
  }

  p {
    margin-top: 15px;
    font-size: 14px;
    font-family: sans-serif;
  }
</style>

<div class="order-confirm-container">
  <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_HErzhRh2y8.json" background="##FFFFFF" speed="1" style="width: 500px; height: 500px" autoplay direction="1" mode="normal"></lottie-player>
  <div class="text-center">
    <h1>Payment Failed</h1>
    <p>Please try to pay again for successfully placing the order.</p>
  </div>

  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  <script>
    setTimeout(() => {
      window.location.href = '/orders'
    }, 3000);
  </script>
</div>
